[submodule "Exercise3/lib/forge-std"]
	path = Exercise3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Exercise3/lib/chainlink-brownie-contracts"]
	path = Exercise3/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Exercise3/lib/ccip"]
	path = Exercise3/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "Exercise3/lib/openzeppelin-contracts"]
	path = Exercise3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Exercise3/lib/chainlink-local"]
	path = Exercise3/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
